body{
    background-color: #fff;
    font-family: 'Myriad Pro300', sans-serif;
   
    /*font-size: 13px;*/
}

.body0{
    width: 100%;
 margin-top: 20px;
}

a{
    text-decoration: none;
}






.btndv0{
    text-align: center; margin-top: 5px;
    width: 80px;
    box-shadow: gray  -1px -1px 1em -10px;
    color: rgb(250, 25, 100);
    height: 25px;
    display: flex; border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;

}
.btndv1{
    text-align: center; width: 80px;
    margin-top: 5px; margin-left: 25px;
    margin-right: 25px; height: 25px;
    box-shadow: gray  -1px -1px 1em -10px;
    color: rgb(250, 25, 100);
    display: flex; border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;

}

.top{
    width: 100%;
    padding-top: 3px;
    display:flex;

}
        .lockdiv{
            width: 50%;
            padding-left: 5px;
        }
        .set{
          
            width: 45%;
            text-align: end;
        }

        .setBtn{
            width:35px;
        }

.switchBtn{
    text-align: center;
    width: 50px;
    padding-top: 3px;

}


.imgdiv{
    width: 30px; border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(185, 118, 160);
}

.hedadiv{
    text-align: center;
    margin-top: 10px;
    width: 100%;
    padding-bottom: 60px;
    margin-bottom: 10px;

}

#skuname{
    color: grey;
    font-weight: 1000;
    
}

#motto{
    color: rgb(138, 133, 136);

}





.hedcont{
    min-width: 360px;
    width: 100%;
    border-bottom: solid 1px rgb(212, 202, 202);
    position: relative;
    
}

.AvataDiv0{
    width: 100%; padding-left: 30px;
    position: absolute;
    top: 47px;

}

.AvataDiv{
    width: 110px; height: 110px;
    border-radius: 50%; display: flex;
    justify-content: center; margin-top: 65px;
    background-color:rgb(212, 202, 202);
   
}

.inAVDiv{
    width: 108px; height: 108px;
    border-radius: 50%;
    margin-top: 1px;
   

}

.usernamediv{
    width: 100%;
    text-align: center;
    margin-top: 70px;
    color:rgb(185, 118, 160);
}

.namesdiv{
   margin:5px ;
   width: 30%;
   text-align: center;
}

.stuName{
    color: gray;
}

.namescont{
    width: 100%;
    display: flex;
  
}

label{
    display: none;
}

label{
    color: rgb(180, 177, 177);
}





